body {
  font-family: 'Open Sans', sans-serif !important;
  padding-top: 60px;
  padding-bottom: 120px;
  position: relative;
}

.index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    text-align: center;
    width: 100%;
    background-color: #3485AC;
    color: white;
    padding: 30px;
    margin-top: 20px;
}

.index-festivals {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-festival-type {
    text-align: center;
    flex: 0 1 32%;
}

.index-festival-type>img {
    object-fit: cover;
    width: 100%;   
}

.general-footer {
    bottom: 0 !important;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}